<section class="block block-footer-2">
  <div class="container">
    <div class="columns">
      <div class="column">
        <img src="{{ section.image_1 | relative_url }}" width="24" height="auto" alt="Logo">
      </div>
      <div class="column">
        <a href="{{ section.col_2 }}">
          <img src="{{ section.image_2 | relative_url }}" width="24" height="auto" alt="Logo">
        </a>
      </div>
      <div class="column">
        <a href="{{ section.col_3 }}">
          <img src="{{ section.image_3 | relative_url }}" width="24" height="auto" alt="Logo">
        </a>
      </div>
      <div class="column">
        <a href="{{ section.col_4 }}">
          <img src="{{ section.image_4 | relative_url }}" width="24" height="auto" alt="Logo">
        </a>
      </div>
    </div>
  </div>
</section>
